<!doctype html>
<html>
  <head>
    <title>Mist Weather Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <script src="/scripts.js"></script>
  </head>
  <body>
    <div class="top-row">
      <div class="form-container">
        <input type="text" class="js-address input js-from" placeholder="From" />
        <input type="text" class="js-address input js-to" placeholder="To" />
        <button class="get-button js-submit" disabled>Get Forecast</button>
      </div>
    </div>
    <div class="js-map-container map-container">
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= google_api_key %>&libraries=places&callback=init" async defer></script>
  </body>
</html>
